body{
    background-image: linear-gradient(250deg, #f6d469 20%, #fda085 80%);
}
.report_block{
  text-align: center;
  width: 500px;
  height: 5vh;
  border-radius: 100px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, .3);
  cursor:pointer;
}
.release{
    text-align: center;
    height: 20vh;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50px;
}
.help{
    text-align: left;
    float: center;
}
.help-text{
    font-family: 'Times New Roman', serif;
}
.download{
    text-align: center;
    height: 20vh;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50px;
}
.version{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}

.hr-line{
  border-top: 2px dashed #000;
}

.footer{
  display: block;
  text-align: center;
  padding-top: 20px;
}

.license{
  margin-top: 0;
  font-size: 12px;
}

.footer-title{
  margin: auto;
  font-size: 16px;
}
