.fh1 {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'William', serif;
  margin-bottom: 2;
  margin-top: 0;
  padding-top: 25px;
  font-weight: normal;
  color: black;
}
.ddiv{
  background-color: salmon;
  height: 550px;
  width: 40%;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(250deg, #f6d469 20%, #fda085 80%);
  float:left
}
body{
    background-image: linear-gradient(250deg, #f6d469 20%, #fda085 80%);
}
.release{
    text-align: center;
    height: 20vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    margin: 0;
    padding-top: 1px;
    border-radius: 10px;
    float: top;
}
.help{
    text-align: left;
    float: center;
}
.help-text{
    font-family: 'Times New Roman', serif;
}
.download{
    text-align: center;
    height: 20vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    margin: 0;
    padding-top: 1px;
    border-radius: 10px;bottom;
    float: bottom;
}
.version{
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}
